rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /starwash_bookings/{booking} {
      allow create: if true;
      allow read, update, delete: if false; 
    }
    match /Testimonial_Collection/{testimonial} {
      allow read: if true;
      allow write: if false; 
    }
    match /business_availability/{status} {
      allow read: if true;
      allow write: if false; 
    }
  }
}
